/* FOOTER CONTENT */
footer {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(32, 66, 86);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure footer is above other content */
}

.footer-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9em;
  padding-left: 20px;
}

/* Style for social media icons */
.fa {
  padding: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  margin-left: 20px;
  box-sizing: content-box;
}

.social-icons {
  display: flex;
  padding-right: 20px;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook icon */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* instagram icon */
.fa-instagram {
  background: #c72867;
  color: white;
}

/* whatsapp icon */
.fa-whatsapp {
  background: #12b037;
  color: white;
}

/* twitter icon */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* pinterest icon */
.fa-pinterest {
  background: #cb2027;
  color: white;
}
